extends layout-admin

block content
  .content-wrapper
    .container-fluid
      |
      - if(message){
      div 
        | !{message}
      - }
      |
      - if(info){
      div 
        | !{info}
      - }
      ol.breadcrumb
        li.breadcrumb-item
          h4 Dashboard
      .row
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#2a93d5')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-briefcase
              .mr-5(style='font-size:20px;') 26
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Categories
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#2a93d5')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-briefcase
              .mr-5(style='font-size:20px;') 26
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Business
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#2a93d5')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-bank
              .mr-5(style='font-size:20px;') 11
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Outlets
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#2a93d5')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-book
              .mr-5(style='font-size:20px;') 123
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Reviews
              span.float-right
                i.fa.fa-angle-right
      .card.mb-3
        .card-header
          a(href='')
            h5 New Businesses
        .card-body
          .row
            .col-md-12
              .table-responsive.mt-2
                table#dataTable1.table.table-bordered(width='100%', cellspacing='0')
                  thead
                    tr.bg-2.text-white
                      th(scope='col') Name
                      th(scope='col') Line of Business
                      th(scope='col') Outlets
                      th.text-center(scope='col') Action
                  tbody
                    tr
                      th(scope='row') Wonderlabs
                      td Wonderlabs
                      td
                        | 2 
                        a(href='/admin/list-outlets') view outlets
                      td
                        a(href='/admin/list-business') view business
                    tr
                      th(scope='row') Wonderfood
                      td Wonderlabs
                      td
                        | 1 
                        a(href='/admin/list-outlets') view outlets
                      td
                        a(href='/admin/list-business') view business
      .card.mb-3
        .card-header
          a(href='')
            h5 New Outlets
        .card-body
          .row
            .col-md-12
              .table-responsive.mt-2
                table#dataTable2.table.table-bordered(width='100%', cellspacing='0')
                  thead
                    tr.bg-2.text-white
                      th(scope='col') Name
                      th(scope='col') Business
                      th(scope='col') City
                      th.text-center(scope='col') Action
                  tbody
                    tr
                      th(scope='row') Wonderlabs Amstrong
                      td Wonderlabs
                      td Yogyakarta
                      td
                        a(href='/admin/list-outlets') view outlets
                    tr
                      th(scope='row') Wonderlabs Exploler
                      td Wonderlabs
                      td Yogyakarta
                      td
                        a(href='/admin/list-outlets') view outlets
                    tr
                      th(scope='row') Wonderlabs Sputnik
                      td Wonderlabs
                      td Yogyakarta
                      td
                        a(href='/admin/list-outlets') view outlets
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up

