 extends layout-admin

 block content   
  .content-wrapper
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          h4 Edit Category
      div
        form.mt-4(action='/action_page.php')
          .form-group.col-md-6
            label(for='name') Category name:
            input#pwd.form-control(type='text', placeholder='Name', name='pswd')
          .form-group.col-md-9
            label(for='description') Description:
            textarea.form-control(name='', id='', cols='30', rows='5')  Description about is 
          .form-row
            .form-group.col-md-2.ml-3
              button.btn.btn-primary.btn-block(type='submit') Submit
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up
