extends layout-admin

block content 
  .content-wrapper
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          h4 Reviews
      .card.mb-3
        .card-header
          i.fa.fa-table
          |  Data List Reviews
        .card-body
          .col-md-10
            script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/af.js')
            for reviews in review
              .media.p-3.rounded
                .media-body
                  .divider.mb-2
                  h5=reviews.rev.name
                  p(style='font-size: 12px; color:#808080')
                    = reviews.date
                    a(data-toggle='modal', data-target='#exampleModal2')
                      |  - Outlet : 
                      |   
                      a(href='/outletinfo='+reviews.rev.outlet.id)=reviews.rev.outlet.name
                  p
                    =reviews.rev.content
                  script(src='https://use.fontawesome.com/f4e64b7c17.js')
                  .star-rating
                    .back-stars
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .front-stars(style='width:'+reviews.rev.rating+'%')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
            nav.float-right.mt-4(aria-label='Page navigation example')
              ul.pagination
                li.page-item
                  a.page-link(href='#', aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#', aria-label='Next')
                    span(aria-hidden='true') »
                    span.sr-only Next
        .card-footer.small.text-muted Updated yesterday at 11:59 PM
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up

