extends layout

block content
  header.business-header
    div
      .row
        .col-lg-12
          iframe(width='100%', height='500px', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63245.983635672164!2d110.33982538316076!3d-7.80316397292277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5787bd5b6bc5%3A0x21723fd4d3684f71!2sYogyakarta%2C+Kota+Yogyakarta%2C+Daerah+Istimewa+Yogyakarta!5e0!3m2!1sid!2sid!4v1525590578541')
  header.search
    .ml-auto
      .row
        .col-md-12
          form.container.ml-auto.form-inline.mt-4
            .from-group.col-md-3
              select.option-index.border.bg-white.mb-2.form-control(name='city', style='width: 100%;')
                option(value='') Select City...
                option(value='jogja') Yogyakarta
                option(value='semarang') Semarang
                option(value='jakarta') Jakarta
                option(value='bandung') Bandung
                option(value='surabaya') Surabaya
                option(value='kudus') Kudus
            .from-group.col-md-3
              select.option-index.border.bg-white.mb-2.form-control(name='category', style='width: 100%;')
                option(value='') Select Line of Bussines
                option(value='arts') Arts
                option(value='computers') Computers
                option(value='games') Games
            .from-group.col-md-3
              input.form-control.input-index.border.rounded.mb-2(type='text', placeholder='keyword', name='keyword', style='width: 100%;')
            .from-group.col-md-3
              button.btn.btn-secondary.mb-2(type='button', onclick='search_list.html')
                i.fas.fa-filter.mr-1
                | Search
  // Page Content
  .container-fluid(style='background-color:white')
    .pop.container.d-flex.align-items-center.mb-2.mt-2(style='text-align: center')
      div
        span(style='text-decoration-color: midnightblue')
          | Popularity Search : 
          a.text-dark(href='#') toko bangunan
          | ,
          a.text-dark(href='#') meja kantor
          | ,
          a.text-dark(href='#') rak dapur
          | ,
          a.text-dark(href='#') seragam sekolah
          | ,
          a.text-dark(href='#') kursi direktur 
          | ,
          a.text-dark(href='#') laptop murah
          | ,
          a.text-dark(href='#') meja lipat 
          | ,
          a.text-dark(href='#') sepeda gunung
          | ,
          a.text-dark(href='#') tas backpack
          | ,
          a.text-dark(href='#') tanaman hias
          | ,
          a.text-dark(href='#') pintu kaca
          | ,
          a.text-dark(href='#') kitchen set
          | ,
          a.text-dark(href='#') toko bangunan
          | ,
          a.text-dark(href='#') meja kantor
          | ,
          a.text-dark(href='#') rak dapur
          | ,
          a.text-dark(href='#') seragam sekolah
          | ,
          a.text-dark(href='#') kursi direktur 
          | ,
          a.text-dark(href='#') laptop murah
          | ,
          a.text-dark(href='#') meja lipat 
          | ,
          a.text-dark(href='#') sepeda gunung
          | ,
          a.text-dark(href='#') tas backpack
          | ,
          a.text-dark(href='#') tanaman hias
          | ,
          a.text-dark(href='#') pintu kaca
          | ,
          a.text-dark(href='#') kitchen set
          | ,
          a.text-dark(href='#') sepeda gunung
          | ,
          a.text-dark(href='#') tas backpack
          | ,
          a.text-dark(href='#') tanaman hias
          | ,
          a.text-dark(href='#') pintu kaca
          | ,
          a.text-dark(href='#') kitchen set
          |
  // /.container
  // Footer
  footer.footer.py-2.bg-1
    .row
      .col-sm(style='color: white')
        .container(style='font-size:12px')
          span Copyright @ 2018 - Wonderlabs Academy
          br
          span All Right Reserved
      .col-sm.block
        .container.block
          .float-right(style='font-size:12px')
            a.block.mr-8.ml-4.text-light(href='#') Term of Use
            a.block.mr-8.ml-4.text-light(href='#') Privacy Policy
    // /.container
