extends layout-form

block content
    .limiter
      .container-login100
        .wrap-login100
          form.login100-form(method='POST' action='/regist')
            span.login100-form-title.p-b-25
              | Sign up
            |
            - if(error){
            div
              | !{error}
            - }
            |
            - if(info){
            div
              | !{info}
            - }   
            span.login100-form-title.p-b-20
              i.zmdi.zmdi-font
            .wrap-input100
              input#name.input100.has-val(type='text', name='name', value = susername)
              span.focus-input100(data-placeholder='Username')
            p#errordiv
            .wrap-input100.validate-input(data-validate='Valid email is: a@b.c')
              input.input100.has-val(type='text', name='email', value = semail)
              span.focus-input100(data-placeholder='Email')
            p#errordiv2
            .container-login100-form-btn
              .wrap-login100-form-btn
                .login100-form-bgbtn
                button.login100-form-btn(type='submit')
                  | Sign up
            .text-center.p-t-115
              span.txt1
                | Back to
              a.txt2(href='/')
                |   Home
    //- script(src='../javascripts/main.js')
    script.
      $(function () {
        $("form").validate({ // initialize the plugin
          rules: {
              name: 'required',
              email: 'required'
          },
          messages: {
            name: 'name must be required',
            email: 'email must be required'
          },
          submitHandler: function (form) { // for demo
              alert('valid form submitted'); // for demo
              return false; // for demo
          },
          errorPlacement: function (error, element) {
            error.appendTo('#errordiv')
          }
        });
      });
