extends layout

block content 
  .bg-light.pt-4.pb-4
    .content-wrapper.container
      .container-fluid
        ol.breadcrumb
          li.breadcrumb-item
            h4 Reviews
        .card.mb-3
          .card-header
            i.fa.fa-table
            |  Data List Reviews
          .card-body
            div.col-md-12
              form.form-inline(method='GET', style='overflow-x:auto;')
                .form-group.col-md-3
                  input#pwd.form-control(type='text', placeholder='Keyword', name='search', style='width:100%;')
                .form-group.col-md-3
                  select.custom-select.form-control(style='width:100%;', name='get_atr')
                    option(value='') Business
                    option(value='') Name
                    option(value='') Address
                .form-group.col-md-2
                  select.custom-select.form-control(style='width:100%;', name='get_atr')
                    option(value='') Outlets
                    option(value='') Name
                    option(value='') Address
                .form-group.col-md-2
                  button.btn.btn-success.form-control(type='submit', style='width:100%;')
                    span.fa.fa-filter
                    |  Filter
            .col-md-10.mt-4
              script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/af.js')
              for reviews in review
                .media.container
                  .media-body
                    .mt-0
                      .pt-2.pb-2.mb-2
                        .divider.mb-2
                        span.pb-1(style='font-size: 16px')=reviews.rev.name
                        p(style='font-size: 12px; color:#808080')
                          = reviews.date
                          a(data-toggle='modal', data-target='#exampleModal2')
                            |  - Outlet : 
                            i.fas.fa-flag(data-toggle="tooltip" data-placement="right" title="Cick to report review")
                            |   
                            a(href='/outletinfo='+reviews.rev.outlet.id)=reviews.rev.outlet.name
                        p(style='color:#4d4d4d')
                          =reviews.rev.content
                        script(src='https://use.fontawesome.com/f4e64b7c17.js')
                        .star-rating
                          .back-stars
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                          .front-stars(style='width:'+reviews.rev.rating+'%')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
              nav.float-right.mt-4(aria-label='Page navigation example')
                ul.pagination
                  li.page-item
                    a.page-link(href='#', aria-label='Previous')
                      span(aria-hidden='true') «
                      span.sr-only Previous
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#', aria-label='Next')
                      span(aria-hidden='true') »
                      span.sr-only Next
          .card-footer.small.text-muted Updated yesterday at 11:59 PM
    footer.footer.py-2
      .row
        .col-sm(style='color: white')
          .container(style='font-size:12px')
            span Copyright @ 2018 - Wonderlabs Academy
            br
            span All Right Reserved
        .col-sm.block
          .container.block
            .float-right(style='font-size:12px')
              a.block.mr-8.ml-4.text-light(href='#') Term of Use
              a.block.mr-8.ml-4.text-light(href='#') Privacy Policy

