extends layout

block content  
    header.search(style='background-color:white')
      .search(style='background-color:#edfafd')
        .ml-auto
          .row
            .col-md-12
              form.container.form-inline.mt-4
                .from-group.col-md-3
                  select.option-index.border.bg-white.mb-2.form-control(name='city', style='width: 100%;')
                    option(value='') Select City...
                    option(value='jogja') Yogyakarta
                    option(value='semarang') Semarang
                    option(value='jakarta') Jakarta
                    option(value='bandung') Bandung
                    option(value='surabaya') Surabaya
                    option(value='kudus') Kudus
                .from-group.col-md-3
                  select.option-index.border.bg-white.mb-2.form-control(name='category', style='width: 100%;')
                    option(value='') Select Line of Bussines
                    option(value='arts') Arts
                    option(value='computers') Computers
                    option(value='games') Games
                .from-group.col-md-3
                  input.form-control.input-index.border.rounded.mb-2(type='text', placeholder='keyword', name='keyword', style='width: 100%;')
                .from-group.col-md-3
                  button.btn.btn-secondary.mb-2(type='button', onclick='search_list.html')
                    i.fas.fa-filter.mr-1
                    | Search
      div(style='background-color:#edfafd')
        .ml-auto.container-fluid.align-content-center
          #nav-tab.nav.nav-tabs(role='tablist')
            a#nav-home-tab.nav-item.nav-link.pull-right.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') List
            a#nav-profile-tab.nav-item.pull-right.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') Maps
          #nav-tabContent.tab-content.pb-4
            #nav-home.container-fluid.tab-pane.fade.show.active.border-right.border-left.border-bottom.mb-4(role='tabpanel', aria-labelledby='nav-home-tab', style='background-color: white')
              .container.media.pt-4
                img.align-self-start.mr-3.mt-4(src='https://cdn0.iconfinder.com/data/icons/bbq/512/bread-256.png', alt='Generic placeholder image', width='64px', height='64px')
                .media-body.mt-4
                  h5.mt-0 Top-aligned media
                  p
                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              .container.media
                img.align-self-start.mr-3.mt-4(src='https://png.icons8.com/color/1600/small-business.png', alt='Generic placeholder image', width='64px', height='64px')
                .media-body.mt-4
                  h5.mt-0 Top-aligned media
                  p
                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              .container.media
                img.align-self-start.mr-3.mt-4(src='https://png.icons8.com/color/1600/slr-small-lens.png', alt='Generic placeholder image', width='64px', height='64px')
                .media-body.mt-4
                  h5.mt-0 Top-aligned media
                  p
                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              .container.media
                img.align-self-start.mr-3.mt-4(src='https://cdn1.iconfinder.com/data/icons/devices-7/128/devices-10-256.png', alt='Generic placeholder image', width='64px', height='64px')
                .media-body.mt-4
                  h5.mt-0 Top-aligned media
                  p
                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              .container.media
                img.align-self-start.mr-3.mt-4(src='https://cdn0.iconfinder.com/data/icons/bbq/512/bread-256.png', alt='Generic placeholder image', width='64px', height='64px')
                .media-body.mt-4
                  h5.mt-0 Top-aligned media
                  p
                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              .container.media
                img.align-self-start.mr-3.mt-4(src='https://cdn0.iconfinder.com/data/icons/bbq/512/bread-256.png', alt='Generic placeholder image', width='64px', height='64px')
                .media-body.mt-4
                  h5.mt-0 Top-aligned media
                  p
                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              nav(aria-label='Page navigation')
                ul.pagination.d-flex.justify-content-center
                  li.page-item
                    a.page-link(href='#', aria-label='Previous')
                      span(aria-hidden='true') «
                      span.sr-only Previous
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#', aria-label='Next')
                      span(aria-hidden='true') »
                      span.sr-only Next
            #nav-profile.tab-pane.fade.border-right.border-left.border-bottom.mb-4(role='tabpanel', aria-labelledby='nav-profile-tab', style='background-color: white')
              header.business-header
                div#map 
    // /.container
    // Footer
    footer.footer.py-2
      .row
        .col-sm(style='color: white')
          .container(style='font-size:12px')
            span Copyright @ 2018 - Wonderlabs Academy
            br
            span All Right Reserved
        .col-sm.block
          .container.block
            .float-right(style='font-size:12px')
              a.block.mr-8.ml-4.text-light(href='#') Term of Use
              a.block.mr-8.ml-4.text-light(href='#') Privacy Policy
      // /.container
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBsascAYsGfhejF7XQmquGdLKlEAbfaL9o&libraries=places&callback=initMap', async='', defer='')
    script.
      function initMap() {

        var locations = !{data}

        console.log(locations)

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -7.7842584, lng: 110.3875498},
          zoom: 15
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            label: 'OF',
            url: locations[i][4],
            title: 'Outlet : '+locations[i][0],
          });

          google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
              infoWindow.setContent(locations[i][0]);
              window.location.href = this.url;
            }
          })(marker, i));

        }

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            console.log(pos)
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
        }  
      }
