extends layout

block content
  .content-wrapper
    .container-fluid
      |
      - if(message){
      div 
        | !{message}
      - }
      |
      - if(info){
      div 
        | !{info}
      - }
      // Breadcrumbs
      ol.breadcrumb
        li.breadcrumb-item
          h4 Dashboard
      // Icon Cards
      .row
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#2a93d5')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-briefcase
              .mr-5(style='font-size:20px;') 26
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Business
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#2a93d5')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-bank
              .mr-5(style='font-size:20px;') 11
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Outlets
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#2a93d5')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-book
              .mr-5(style='font-size:20px;') 123
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Reviews
              span.float-right
                i.fa.fa-angle-right
      .row.mt-4
        .col-md-6
          a(href='')
            h5 Wonderlabs
      .row
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#d6955b')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-heartbeat
              .mr-5(style='font-size:20px;') 26
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Global Popularity
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#d6955b')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-diamond
              .mr-5(style='font-size:20px;') 11
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Global Competitor
              span.float-right
                i.fa.fa-angle-right
      .row.mt-4
        .col-md-6
          a(href='')
            h5 Wonderfood
      .row
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#d6955b')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-heartbeat
              .mr-5(style='font-size:20px;') 26
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Global Popularity
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#d6955b')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-diamond
              .mr-5(style='font-size:20px;') 11
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Global Competitor
              span.float-right
                i.fa.fa-angle-right
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up
