extends layout

block content
  .content-wrapper
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          h4 Outlets !{business}
      .row
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#d6955b')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-heartbeat
              .mr-5(style='font-size:20px;') 26
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Local Popularity
              span.float-right
                i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
          .card.secondary-text.o-hidden.h-100(style='background-color:#d6955b')
            .card-body
              .card-body-icon
                i.fa.fa-fw.fa-diamond
              .mr-5(style='font-size:20px;') 26
            a.card-footer.secondary-text.clearfix.small.z-1(href='#')
              span.float-left Local Competitor
              span.float-right
                i.fa.fa-angle-right
        .card-body
          form.form-inline(method='GET')
            .form-group.col-md-3
              input#pwd.form-control(type='text', placeholder='Keyword', name='search', style='width:100%')
            .form-group.col-md-2
              select.custom-select(style='width:100%', name='get_atr')
                option(value='') Business
                option(value='') Name
                option(value='') Address
            .form-group.col-md-2
              select.custom-select.form-control(style='width:100%', name='get_atr')
                option(value='') City
                option(value='') Name
                option(value='') Address
            .form-group.col-md-2
              button.btn.btn-success.form-control(type='submit')
                span.fa.fa-filter
                |  Filter
          .table-responsive.mt-4
            table#dataTable6.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr.bg-2.text-white
                  th(scope='col') Name
                  th(scope='col') Business
                  th(scope='col') City
                  th(scope='col') Page Views
                  th.text-center(scope='col') Action
              tbody
                for outlet in data
                  tr
                    th(scope='row')= outlet.name
                    td= outlet.dataValues.business.name
                    td= outlet.dataValues.address.administrative_area_2
                    td 30
                    td.text-center
                      .dropdown
                        button.btn.bg-5.dropdown-toggle.btn-sm.border(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          | Action
                          span.caret
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.fa.fa-user
                            |  View
                          .dropdown-divider
                          a.dropdown-item(data-toggle='modal', data-target='#deleteModal')
                            i.fa.fa-trash
                            |  Delete
        .card-footer.small.text-muted Updated yesterday at 11:59 PM
      a.float(href='/business-owner/create-outlet')
        i.fa.fa-plus.fa-2x.my-float
      .label-container
        .label-text Add Outlets
        i.fa.fa-play.label-arrow
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up

